# Ignore all .7z, .zip, and .txt files
*.7z
*.zip
*.txt

# Exception: Keep specific readme.txt files
!t8085/t8085_8kbasic/8kbasic src/readme.txt
!t8085/t8085_serial/serial src/readme.txt
!t8085/t8085_tinybasic/tinybasic src/readme.txt

# Ignore the 'comp' directory
comp/

# Ignore the 'archive' directory specifically inside 'code'
code/archive/
# Exclude compile.txt
compile.txt

# SMON Build Artifacts
t65c02_6551_6522_smon/firmware/SMON_E000/build/
t65c02_6551_6522_smon/Programs/build/**/*.o
t65c02_6551_6522_smon/Programs/build/**/*.lst
t65c02_6551_6522_smon/Programs/build/**/*.map
t65c02_6551_6522_smon/Programs/build/**/*.bin

# Keep the hex files for programs
!t65c02_6551_6522_smon/Programs/build/**/*.hex
